<div class="div-block-3">
    <a href="/" class="w-inline-block">
        <div style="background-color:rgb(85,107,95)" class="div-block-5"><img src="{{ '3411685499392_.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 58vw, (max-width: 767px) 71vw, 500px" alt="" class="image-3">
            <div data-w-id="2cb58170-32aa-9b67-0dc0-03483248a77e" style="-webkit-transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-500px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="text-block-9">In the 16th century, the nobleman Ippolito Lante della Rovere built the villa and its beautiful gardens as a summer retreat. One day, while exploring the gardens, Ippolito discovered a strange, fragrant flower growing in a corner of the garden. He was so enamored with the flower that he had it carefully cultivated in the garden. This flower was tuberose, and it became one of the main features of Villa Lante&#x27;s gardens. As dusk falls, its fresh petals merge with sensual spices to reveal a lustful magnetism.</div>
            <div style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="text-block-8 _1">OPUS 01</div>
          <img src="{{ 'Untitled-3.png' | asset_url }}" loading="lazy" alt="" class="arrow">
        </div>
    </a>
    <a href="/" class="link-block w-inline-block">
        <div class="div-block-4"><img src="{{ '4081683586092_.png' | asset_url }}" loading="lazy" sizes="(max-width: 479px) 58vw, (max-width: 767px) 71vw, 500px" alt="" class="image-2">
            <div class="text-block-8 _1">OPUS 02</div><img src="{{ 'Untitled-3.png' | asset_url }}" loading="lazy" alt="" class="arrow">
        </div>
    </a>
</div>
{% schema %}
  {
    "name": "fran",
    "tag": "section",
    "class": "section wf-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}