
<div class="padding-global">
  <div class="padding-section-medium">
    <div class="views_flex-wrapper">
      <div class='home-block'>
        <p class='home-block-text'>
          <b>LARTEDELSENTIRE</b> aspires to craft personalized olfactory artworks through the harmonious fusion of the senses, utilizing premium materials and boundless creativity.
        </p>
        <img src="{{ 'LDS_web_frontpage_1-fix.jpg' | asset_url }}" loading="lazy" alt="" class="home-block-image">
      </div>
      <div class='home-block'>
        <img src="{{ 'LDS_web_frontpage_2-fix.jpg' | asset_url }}" loading="lazy" alt="" class="home-block-image">
        <p class='home-block-text'>
          We seek the balance between the senses, art, and emotions, and create a spiritual realm for people. This unique experience can inspire our inner selves, fortify us during difficult times, and free us with confidence during sunny days.
        </p>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Home Page Content",
    "settings": [],
    "tag": "section",
    "class": "section_views"
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}