<div class="splitscreen-column left">
  <div class="slider-description-wrap">
    <div class="slider-title-wrap">
      <h1 class="stage-heading">An Artistic Experience of Multisensory Expression.</h1>
    </div>
    <div class="slider-copy-wrap">
      <p class=""><br>LDS endeavors to create personalized artwork for individuals by harmoniously blending the senses, with scent as the carrier and visual and auditory impacts as supplementary elements.<br>‍<br>LDS aims to create an immersive sensory experience that appeals to people&#x27;s senses of smell, sight, and hearing, elevating simple fragrance application into a journey of multiple senses. This interaction of the senses is guiding individuals to explore their inner emotions and memories on a deeper level and in turn, reinvents new emotions and memories. <br><br>LDS believes that limitless creativity is able to find a delicate balance between sensory stimulation, artistic expression, and emotional connection, leading to the development of personalized, high-quality products for people.</p>
    </div>
  </div>
</div>
<div class="splitscreen-column right">
  <div class="unsplash-copyright"></div>
  <div class="gallery-slider-mouse-stop"></div>
  <div data-delay="3000" data-animation="fade" class="gallery-slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="800" data-infinite="true">
    <div class="gallery-mask w-slider-mask">
      <div class="gallery-slide w-slide"><img src="{{ 'IMG_0670.jpg' | asset_url }}" loading="lazy" sizes="48vw" alt="" class="gallery-image"></div>
      <div class="gallery-slide w-slide"><img src="{{ 'IMG_0661.jpg' | asset_url }}" loading="lazy" sizes="48vw" alt="" class="gallery-image"></div>
      <div class="gallery-slide w-slide"><img src="{{ 'IMG_0658.jpg' | asset_url }}" loading="lazy" sizes="48vw" alt="" class="gallery-image"></div>
    </div>
    <div class="display-none w-slider-arrow-left">
      <div class="w-icon-slider-left"></div>
    </div>
    <div class="display-none w-slider-arrow-right">
      <div class="w-icon-slider-right"></div>
    </div>
    <div class="display-none w-slider-nav w-round"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Manifesto",
    "class": "slider-stage-splitscreen wf-section",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}